<div class="container">

  <ng-content select="[header]"></ng-content>

   <p #pRef>Testing ViewChild, this is the default value</p>


  <div class="form-group">
    <label for="name">Server name</label>
    <input #serverInputName type="text" id="name" class="form-control">
  </div>
  <button class="btn btn-primary" (click)="onCreateServer(serverInputName)">
    Add Server
  </button>

  <div class="row px-2 mt-4">
    <div class="col-12">
      <div>
        <h3>Servers</h3>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between" *ngFor="let server of servers">
            <div>
              <span class="badge" [ngClass]="getStatusClass(server.status)">{{ server.status }}</span>
              <span class="ml-2"><strong>{{ server.name }}</strong> | {{ server.id }}</span>
            </div>
            <button class="btn btn-sm btn-primary">Change status</button>
          </li>
        </ul>
      </div>
    </div>
  </div>

<ng-content select="[footer]"></ng-content>

</div>
