<div class="container">

  <ng-content select="[header]"></ng-content>

  <button class="btn btn-primary" (click)="displayForm = true">
    Add Server
  </button>

  <div *ngIf="displayForm" class="form-group">
    <app-create-server-td (cancel)="displayForm = false">
    </app-create-server-td>
  </div>


  <div *ngIf="!displayForm" class="row px-2 mt-4">
    <div class="col-12">
      <div>
        <h3>Servers</h3>
        <ul class="list-group">
          <app-server *ngFor="let server of servers" [server]="server"></app-server>
        </ul>
      </div>
    </div>
  </div>

<ng-content select="[footer]"></ng-content>

</div>
