<!--
<app-servers>
    <div header class="card p-4 mb-2">
        <h2>Servers Header</h2>
    </div>

    <div footer class="card p-4 mt-4">
        <h5>Footer</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim voluptates repellendus eius veritatis facere nisi dolorum quasi ducimus est fuga? Deserunt cumque ea ducimus aperiam praesentium exercitationem molestias? Nemo, doloribus?</p>
    </div>
</app-servers>
-->

<div class="container">
  <div class="row border border-primary p-2 my-2">
    <div class="col-12 d-flex justify-content-between">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            routerLink="/users"
            routerLinkActive="active">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            [routerLink]="['/servers']"
            routerLinkActive="active">Servers</a>
        </li>
      </ul>
         <a *ngIf="!logged" routerLink="/login" class="btn btn-primary">Log in</a>
      <div *ngIf="logged">
         Hello user! <a (click)="onLogout()" class="btn btn-secondary">Logout</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
